$background-color: #f9f9f9;
$primary-color: #642d00;
$secondary-color: #ff5a00;
$secondary-color-opacity: #ff59008c;
$tertiary-color: #fcb400;
$quaternary-color: #fcd6c1;
$black-color: #25252c;
$dark-gray: #4f4f4f;
$gray: #c2c2c2;
$light-gray: #eeeeee;
$white-color: #fcfcfc;
